body{
  text-align:center;
  color:white;
  background-color:black;
  font-family:arial;
}
.screen{
}
#title{
  color:deepskyblue;
}
#dt{
  text-align:center;
  position: fixed;
  width: 50%;
  bottom: 10px;
}
